@import '_boiler';
// @import '_grid.scss';

// ----------------------------------------------------
// Mixins
// ----------------------------------------------------


@mixin fontify ($fz, $fw, $lh:1em, $td:none) {
	font-family: 'Raleway','helvetica',sans-serif;
	font-size: $fz;
	font-weight: $fw;
	line-height: $lh;
	text-decoration: $td;
}



//colors

$secondaryColor: #497487;
$food: #F24444;

//body

body,
html {
	height: 100%;
	margin: 0;
	font-family: 'Raleway', 'Helvetica', sans-serif;
	background: url(../images/food.png) repeat center;
}

a {
	text-decoration: none;
	color: #888;
	&:visited {
		color: #888;
	}
	&:hover {
		color:#333;
	}
}

header {
	background-color: rgba(255, 255, 255 ,0.7);
	padding: 30px 0;
	text-align: center;
	box-shadow: 0 1px 2px rgba(242,68,68,0.5);
}

h1 {
	margin: 0 auto;
	@include fontify(55px, 800, 1.5em);
	color: $food;
	text-transform: uppercase;
}

h2 {
	margin: 0 auto;
	@include fontify(32px, 300);
	color: $food;
}

main {
	padding:20px;
	// background-color: #B0F5E6;
}

@mixin forms($wd) {
	float:left;
	// margin:0 5%;
	width:$wd;

}

.userInput {
	// background-color: yellow;
	width: 100%;
	@include fontify(26px, 400, 1.5em);
	color:#555;
	.film {
		@include forms(45%); 
		margin: 0 2.5% 0 5%;
		label{
			font-size: 18px;
			text-transform: uppercase;
		}
		form input {
			margin: 10px auto;
			padding: 10px 5px;
			width: 100%;
			border:none;
			border-bottom: $food 2px solid;
			background: rgba(242,68,68,0.4);
			&:focus {
				outline:none;
				background: rgba(242,68,68,0.5);

			}
			&::-webkit-input-placeholder {
				color:rgba(255,255,255,0.6);
				font-weight: 100;
			}
		}
	}
	.course {
		@include forms(40%);
		margin: 0 5% 0 2.5%;
		label{
			text-transform: uppercase;
			font-size: 18px;
		}
		select {
			cursor: pointer;
			border:0 !important;
			border-bottom: $food 2px solid !important;
			border-radius: 0 !important;
			-webkit-appearance: none;
			-moz-appearance: none;
			background: rgba(242,68,68,0.4);
			border-radius: none !important;
			width: 100%;
			padding: 10px 5px !important;
			margin: 10px auto;
			&:focus {
				outline:none !important;
			}
		}
	}
}
.button {
	float:left;
	width: 100%;
	text-align: center;
	button {
		font-size: 20px;
		font-weight: 300;
		color:white;
		margin: 15px auto;
		padding: 15px;
		width: 90%;
		background: $food;
		border:none;
		&:active {
			background-color: rgba(255,255,255,0.5);
			color:$food;	
		}
		&:hover {
			background-color: rgba(255,255,255,0.5);
			color:$food;
			border-bottom: $food 2px solid;
		}
		&:focus {
			outline:none;
			background-color: rgba(255,255,255,0.5);
			color:$food;
		}
	}
}
#recipe {
	width: 100%;
	padding: 1% 5%;
	margin-top:30px;
	.recipeContainer {
		background-color: white;
		margin-right:2%;
		&:last-child{
			margin-right: 0;
		}
		float:left;
		width: 32%;
		text-align: center;
		padding-top: 2.5%;
		img {
			width: 95%;
			height: 80%;
		}
		&:hover {
			background-color: rgba(255,255,255,0.9);
			border-bottom: $food 4px solid;
		}
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	}
}
#message {
	clear:both;
	// width: 100%;
	// margin: 3% 5% 0;
	margin: auto 5%;
	text-align: center;
	// padding-top: 2%;
	p {
		font-size: 24px;
		font-weight: 500;
		margin-top: 8%;
		color:lighten($food, 10);
		.courseStyle,
		.filmStyle {
			color:$food;
			font-weight: 800;
		}
	}
}

footer.footer {
	width: 100%;
	padding: 2%;
	text-align: center;
	// background-color: #555;
	p {
		color: #333;
		a {
			color:$food;
		}
	}
}










