<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title No More Popcorn
	link(rel="stylesheet", href="css/style.css")
	link(href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css')
	link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
	link(rel="icon", href="/images/favicon.ico" type="image/x-icon")

body
	header
		div.title-container
			h1 No More Popcorn!
			h2 Find the perfect food for your movie night
	main
		section.userInput.clearfix
			article.film
				label(for='film') Which movie are you watching?
				form(id='searchFilm', method='get')
					input(type='text', id='searchBar', placeholder='Enter a movie')
			article.course
				label(for='course') Choose a course
				br
				select(name='course', id='course' class='selectpicker')
					option(value="Main Dishes") Main Dishes
					option(value="Desserts") Desserts
					option(value="Side Dishes") Side Dishes
					option(value="Lunch and Snacks") Lunch and Snacks
					option(value="Appetizers") Appetizers
					option(value="Salads") Salads
					//- option(value="Beverages") Beverages
					//- option(value="Cocktails") Cocktails
		section.userInput.button.clearfix
			button(id='searchButton') DELIGHT ME
		section#message.clearfix
		section#recipe.clearfix
			div#progressbar
				
	footer.footer
		//p This is an ongoing project, find it on 
			a(href="https://github.com/winterwei/no-more-popcorns") Github

	script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(type='text/javascript', src="js/app.js")